<div class="paneHeader"><button onclick="closeSubPane();">&laquo;</button> Yearbook Poll</div>
<div class="paneContent">
	What is your name?<br />
	<input type="text" />
	<br /><br />
	What is your quest?<br />
	<input type="text" />
	<br /><br />
	What is your favorite color?<br />
	<label for="poll2radiob"><input type="radio" name="poll2radio" id="poll2radiob" /> Blue</label><br />
	<label for="poll2radior"><input type="radio" name="poll2radio" id="poll2radior" /> No, red</label><br />
	<label for="poll2radioy"><input type="radio" name="poll2radio" id="poll2radioy" /> No, yellow!</label><br />
	<br />
	Please respond to this:<br />
	<textarea></textarea>
	<br /><br />
	<button>Submit</button>
</div>
