#logo {
	background-image:url(public/images/themes/light/logo.png);
}

input[type="radio"]:checked {
	background-image:url(public/images/themes/light/radiodot.png), -webkit-linear-gradient(#E8E8E8, #D8D8D8);
	background-image:url(public/images/themes/light/radiodot.png),    -moz-linear-gradient(#E8E8E8, #D8D8D8);
	background-image:url(public/images/themes/light/radiodot.png),     -ms-linear-gradient(#E8E8E8, #D8D8D8);
	background-image:url(public/images/themes/light/radiodot.png),      -o-linear-gradient(#E8E8E8, #D8D8D8);
	background-image:url(public/images/themes/light/radiodot.png),         linear-gradient(#E8E8E8, #D8D8D8);
}
input[type="checkbox"]:checked {
	background-image:url(public/images/themes/light/check.png), -webkit-linear-gradient(#E8E8E8, #D8D8D8);
	background-image:url(public/images/themes/light/check.png),    -moz-linear-gradient(#E8E8E8, #D8D8D8);
	background-image:url(public/images/themes/light/check.png),     -ms-linear-gradient(#E8E8E8, #D8D8D8);
	background-image:url(public/images/themes/light/check.png),      -o-linear-gradient(#E8E8E8, #D8D8D8);
	background-image:url(public/images/themes/light/check.png),         linear-gradient(#E8E8E8, #D8D8D8);
}

input[type="radio"]:checked:hover:not(:disabled), input[type="radio"]:checked:focus:not(:disabled) {
	background-image:url(public/images/themes/light/radiodot.png), -webkit-linear-gradient(#F0F0F0, #E0E0E0);
	background-image:url(public/images/themes/light/radiodot.png),    -moz-linear-gradient(#F0F0F0, #E0E0E0);
	background-image:url(public/images/themes/light/radiodot.png),     -ms-linear-gradient(#F0F0F0, #E0E0E0);
	background-image:url(public/images/themes/light/radiodot.png),      -o-linear-gradient(#F0F0F0, #E0E0E0);
	background-image:url(public/images/themes/light/radiodot.png),         linear-gradient(#F0F0F0, #E0E0E0);
}
input[type="checkbox"]:checked:hover:not(:disabled), input[type="checkbox"]:checked:focus:not(:disabled) {
	background-image:url(public/images/themes/light/check.png), -webkit-linear-gradient(#F0F0F0, #E0E0E0);
	background-image:url(public/images/themes/light/check.png),    -moz-linear-gradient(#F0F0F0, #E0E0E0);
	background-image:url(public/images/themes/light/check.png),     -ms-linear-gradient(#F0F0F0, #E0E0E0);
	background-image:url(public/images/themes/light/check.png),      -o-linear-gradient(#F0F0F0, #E0E0E0);
	background-image:url(public/images/themes/light/check.png),         linear-gradient(#F0F0F0, #E0E0E0);
}
input[type="radio"]:checked:active:not(:disabled) {
	background-image:url(public/images/themes/light/radiodot.png), -webkit-linear-gradient(#D6D6D6, #E0E0E0);
	background-image:url(public/images/themes/light/radiodot.png),    -moz-linear-gradient(#D6D6D6, #E0E0E0);
	background-image:url(public/images/themes/light/radiodot.png),     -ms-linear-gradient(#D6D6D6, #E0E0E0);
	background-image:url(public/images/themes/light/radiodot.png),      -o-linear-gradient(#D6D6D6, #E0E0E0);
	background-image:url(public/images/themes/light/radiodot.png),         linear-gradient(#D6D6D6, #E0E0E0);
}
input[type="checkbox"]:checked:active:not(:disabled) {
	background-image:url(public/images/themes/light/check.png), -webkit-linear-gradient(#D6D6D6, #E0E0E0);
	background-image:url(public/images/themes/light/check.png),    -moz-linear-gradient(#D6D6D6, #E0E0E0);
	background-image:url(public/images/themes/light/check.png),     -ms-linear-gradient(#D6D6D6, #E0E0E0);
	background-image:url(public/images/themes/light/check.png),      -o-linear-gradient(#D6D6D6, #E0E0E0);
	background-image:url(public/images/themes/light/check.png),         linear-gradient(#D6D6D6, #E0E0E0);
}
