<div class="paneHeader"><button onclick="closeSubPane();">&laquo;</button> Groups</div>
<div class="paneContent">
	<br />
	Clubs
	<br />
	<button title="Leave this club">&times;</button> Environmental Impact Club<br />
	<button title="Leave this club">&times;</button> Game and Software Development<br />
	<button title="Leave this club">&times;</button> Poi<br />
	<button title="Leave this club">&times;</button> Senior Computer Team<br />
	<br />
	Academic groups
	<br />
	<button disabled="disabled" title="You cannot leave this group">&times;</button> AP Lang<br />
	<button title="Leave this club">&times;</button> ASDFclass<br />
	<br />
	Other groups
	<br />
	<button disabled="disabled" title="You cannot leave this group">&times;</button> All Students<br />
	<button disabled="disabled" title="You cannot leave this group">&times;</button> Class of 2012<br />
	<button disabled="disabled" title="You cannot leave this group">&times;</button> Male Students<br />
</div>
