<div class="paneHeader"><button onclick="closeSubPane();">&laquo;</button> Other</div>
<div class="paneContent">
	<button onclick="document.body.className = 'fire';">Enable creffett mode</button>
	<br /><br />
	<button onclick="
		'document.body.style.WebkitTransform = 'rotate(' + (Math.random() * 360) + 'deg)'; 
		   'document.body.style.MozTransform = 'rotate(' + (Math.random() * 360) + 'deg)'; 
		    'document.body.style.MsTransform = 'rotate(' + (Math.random() * 360) + 'deg)'; 
		     'document.body.style.OTransform = 'rotate(' + (Math.random() * 360) + 'deg)'; 
		      'document.body.style.transform = 'rotate(' + (Math.random() * 360) + 'deg)'; 
	">Screw everything up</button>
</div>
