<div class="paneHeader"><button onclick="closeSubPane();">&laquo;</button> News</div>
<div class="paneContent">
	You will receive news for:
	<br />
	<br />
	Clubs
	<br />
	<input type="checkbox" title="Receive news from this club?"> Environmental Impact Club<br />
	<input type="checkbox" checked="checked" title="Receive news from this club?"> Game and Software Development<br />
	<input type="checkbox" checked="checked" title="Receive news from this club?"> Poi<br />
	<input type="checkbox" checked="checked" title="Receive news from this club?"> Senior Computer Team<br />
	<input type="checkbox" checked="checked" title="Receive news from this club?"> Systems Administrators<br />
	<br />
	Other groups
	<br />
	<input type="checkbox" disabled="disabled" checked="checked" title="You cannot opt out of this group's news"> Class of 2012<br />
	<input type="checkbox" disabled="disabled" checked="checked" title="You cannot opt out of this group's news"> Male Students<br />
	<input type="checkbox" disabled="disabled" checked="checked" title="You cannot opt out of this group's news"> All Students<br />
	<br />
	Topics
	<br />
	<input type="checkbox" title="Receive news with this tag"> Clubs<br />
	<input type="checkbox" disabled="disabled" checked="checked" title="You cannot opt out of this topic"> Emergency alerts<br />
	<input type="checkbox" title="Receive news with this tag"> School events<br />
</div>
