<div class="paneHeader"><button onclick="closeSubPane();">&laquo;</button> Profiles</div>
<div class="paneContent">
	<table>
		<tr>
			<th rowspan="2">Permission</th>
			<th rowspan="2">Parent approved</th>
			<th colspan="3">Privacy level</th>
		</tr>
		<tr>
			<th>Everyone</th>
			<th>Friends</th>
			<th>Staff only</th>
		</tr>
		<tr>
			<td>Picture</td>
			<td style="text-align:center;"><input type="checkbox" checked="checked" disabled="disabled"/></td>
			<td style="text-align:center;"><input type="radio" name="perm1"/></td>
			<td style="text-align:center;"><input type="radio" name="perm1"/></td>
			<td style="text-align:center;"><input type="radio" name="perm1" checked="checked"/></td>
		</tr>
		<tr>
			<td>Address</td><td style="text-align:center;"><input type="checkbox" checked="checked" disabled="disabled"/></td>
			<td style="text-align:center;"><input type="radio" name="perm2"/></td>
			<td style="text-align:center;"><input type="radio" name="perm2"/></td>
			<td style="text-align:center;"><input type="radio" name="perm2" checked="checked"/></td>
		</tr>
		<tr>
			<td>E-mail address</td><td style="text-align:center;"><input type="checkbox" checked="checked" disabled="disabled"/></td>
			<td style="text-align:center;"><input type="radio" name="perm3"/></td>
			<td style="text-align:center;"><input type="radio" name="perm3"/></td>
			<td style="text-align:center;"><input type="radio" name="perm3" checked="checked"/></td>
		</tr>
		<tr>
			<td>Phone number</td><td style="text-align:center;"><input type="checkbox" checked="checked" disabled="disabled"/></td>
			<td style="text-align:center;"><input type="radio" name="perm4"/></td>
			<td style="text-align:center;"><input type="radio" name="perm4"/></td>
			<td style="text-align:center;"><input type="radio" name="perm4" checked="checked"/></td>
		</tr>
		<tr>
			<td>Class schedule</td><td style="text-align:center;"><input type="checkbox" checked="checked" disabled="disabled"/></td>
			<td style="text-align:center;"><input type="radio" name="perm5"/></td>
			<td style="text-align:center;"><input type="radio" name="perm5"/></td>
			<td style="text-align:center;"><input type="radio" name="perm5" checked="checked"/></td>
		</tr>
		<tr>
			<td>Eighth period schedule</td><td style="text-align:center;"><input type="checkbox" checked="checked" disabled="disabled"/></td>
			<td style="text-align:center;"><input type="radio" name="perm6"/></td>
			<td style="text-align:center;"><input type="radio" name="perm6"/></td>
			<td style="text-align:center;"><input type="radio" name="perm6" checked="checked"/></td>
		</tr>
		<tr>
			<td>Social security number</td><td style="text-align:center;"><input type="checkbox" disabled="disabled"/></td><td style="text-align:center;"><input type="radio" disabled="disabled"/></td><td style="text-align:center;"><input type="radio" disabled="disabled"/></td><td style="text-align:center;"><input type="radio" disabled="disabled"/></td>
		</tr>
	</table>
</div>
